.main 
{
    background-color: #121212;
    width: 1000px;
    padding: 30px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
}

body 
{
    background-color: black;
    color: gray;
    font-size: 20px;
    line-height: 45px;
    letter-spacing: 1.2px;
}

h1 
{
    color: rgb(210, 210, 210);
    font-size: 70px;
    font-family: 'Fira Sans';   
}

h2
{
    color: rgb(190, 190, 190);
    font-family: monospace;
    margin-bottom: -10px; 
}

ul
{
    margin-left: 10px;
}

a
{
    color: rgb(180, 180, 180);
    text-decoration: none;
}
